# Binaries
bin
bin-int

# Makefiles (for Mingw)
Makefile
Bismuth/Makefile
Sandbox/Makefile

# Visual Studio stuff will go here
Bismuth.sln
.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user

features.md

# for the time being have this hidden
build.bat

.vscode
.vscode/*